img {
  border-style: none;
}

body {
  background-color: #380908;
  font-size: clamp(0.75rem, 5vw, 3rem);
  margin: 0;
  margin: 0 12.5%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem 0;
  text-align: center;
  color: #fff;
}

body #top_holder {
  position: relative;
  left: 12.5%;
  width: 75%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body #top_holder #top_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: clamp(0.75rem, 5vw, 5rem);
  font-size: clamp(0.75rem, 5vw, 5rem);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  align-self: center;
  align-items: stretch;
  justify-content: stretch;
  background-color: #397EE0;
  border-style: solid;
  border-color: #946407;
  border-width: 8px;
  transform: translateX(-8px);
}

body #top_holder #top_nav :first-child {
  margin-left: 0;
}

body #top_holder #top_nav :last-child {
  margin-right: 0;
}

body #top_holder #top_nav a {
  color: #fff;
  align-self: Stretch;
  justify-self: stretch;
  font-size: clamp(0.75rem, 1.25vw, 3rem);
  width: 22.5%;
  margin: 0 auto;
  background-color: #164B94;
  border-color: #E0A738;
  border-width: clamp(0.5rem, 0.5vw, 1rem);
  border-style: groove;
  max-height: 100%;
  max-width: 22.5%;
  justify-items: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 5vw, 5rem);
}

body #top_holder #top_nav a div {
  position: absolute;
  background-color: #397EE0;
  border-style: solid;
  border-color: #946407;
  border-width: clamp(0.5rem, 0.5vw, 1rem);
  transform: translateX(-clamp(0.5rem, 0.5vw, 1rem));
  border-style: outset;
  width: 25%;
  transform-origin: 0% 0%;
  transform: scale(1, 0);
  margin-top: clamp(1rem, 5vw, 5rem);
  transition-duration: 0.5s;
  z-index: 1000 !important;
  border-radius: 0px 0px clamp(0.5rem, 0.5vw, 1rem) clamp(0.5rem, 0.5vw, 1rem);
}

body #top_holder #top_nav a:active {
  border-color: #946407;
  border-width: clamp(0.5rem, 0.5vw, 1rem);
}

body #top_holder #top_nav a:hover div {
  transform: scale(1, 1);
}

body #top_holder #hideButton {
  text-align: center;
  position: relative;
  top: 100%;
  margin-left: auto;
  margin-right: 16px;
  width: 12.5%;
  border-style: solid;
  border-color: #946407;
  border-width: 4px;
  transform: translateX(-clamp(0.5rem, 0.5vw, 1rem));
  border-top-width: 0px;
  border-radius: 0px 0px 4px 4px;
}

body #main_body {
  margin-top: clamp(0.75rem, 1.25vw, 3rem);
  border-radius: clamp(1rem, 1vw, 2.5rem) clamp(1rem, 1vw, 2.5rem) 0rem 0rem;
}

body #Resume {
  border-radius: 0rem 0rem clamp(1rem, 1vw, 2.5rem) clamp(1rem, 1vw, 2.5rem);
}

body .body_of {
  border-style: solid;
  border-color: #397EE0;
  border-width: 8px;
  transform: translateX(-clamp(0.5rem, 0.5vw, 1rem));
  min-height: 50vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-items: baseline;
  width: 100%;
  font-size: clamp(0.75rem, 1.25vw, 3rem);
  background-color: #599EFF;
}

body .banner_l {
  border-style: solid;
  background-color: #164B94;
  width: 15rem;
  left: 0%;
  align-self: flex-start;
  border-color: #946407;
  height: 6.25rem;
  border-width: 4px;
  border-left: 0px;
  color: #fff;
  transform-origin: left top;
  transform: rotateZ(75deg);
  border-radius: 0% 5% 37.5% 0%;
  float: left;
  transition-duration: 0.5s;
}

body .banner_l:hover {
  transform: rotateZ(2.25deg);
}

body .banner_r {
  border-style: solid;
  background-color: #164B94;
  width: 15rem;
  align-self: flex-end;
  position: relative;
  right: 0%;
  border-color: #946407;
  height: 6.25rem;
  border-width: 4px;
  border-right: 0px;
  color: #fff;
  transform-origin: right top;
  transform: rotateZ(-75deg);
  border-radius: 5% 0% 0% 37.5%;
  float: right;
  transition-duration: 0.5s;
}

body .banner_r:hover {
  transform: rotateZ(-2.25deg);
}

body #Projects {
  display: inline;
}

body .project_box_l {
  align-self: flex-start;
  width: auto;
}

body .project_box_l a div {
  width: clamp(10rem, 12.5vw, 25rem);
  height: clamp(10rem, 12.5vw, 25rem);
  background-color: #E0A738;
  transition-duration: 0.5s;
  margin-left: clamp(-9rem, -12.5vw, -24rem);
  align-content: center;
  justify-content: center;
  text-align: center;
}

body .project_box_l a div:hover {
  margin-left: 0rem;
}

body .project_box_r {
  align-self: flex-end;
}

body .project_box_r a div {
  width: clamp(10rem, 12.5vw, 25rem);
  height: clamp(10rem, 12.5vw, 25rem);
  background-color: #E0A738;
  transition-duration: 0.5s;
  margin-right: clamp(-9rem, -12.5vw, -24rem);
  text-align: center;
}

body .project_box_r a div:hover {
  margin-right: 0rem;
}

body a {
  text-decoration: none;
}

body .l_side {
  float: left;
  display: flex;
  flex-direction: column;
}

body .r_side {
  float: right;
  display: flex;
  flex-direction: column;
}

body .project_box_l img, body .project_box_r img {
  max-width: 87.5%;
  max-height: 87.5%;
}

@media screen and (max-width: 1024px) {
  body #top_holder #top_nav a {
    font-size: font-weight(1.25vw);
  }
  body #top_holder #top_nav a div {
    font-size: font-weight(1.25vw);
  }
}
/*# sourceMappingURL=index.css.map */